.note .card {
    position: relative;
    height: 100%;
}

.note .card .card-toolbar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    opacity: 0;
    transition: .2s opacity;
}

.note .card:hover .card-toolbar {
    opacity: 1;
}

.note .card-toolbar .note-action {
    cursor: pointer;
}

.note .card .card-title {
    font-size: 18px;
}

.note .card.note-done .card-title {
    text-decoration: line-through;
}

.loading .card::after,
.loading.note-create::after,
.loading.modal::after {
    content: '';
    background: #000;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.loading .spinner-border {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
}

.loading.modal .spinner-border {
    color: #000;
}

.field-note-done input {
    width: 31px;
    height: 31px;
}

#note-form .form-group.edit {
    display: none;
}

#note-edit .form-group.create {
    display: none;
}

.form-big-checkbox {
    height: 33px;
}